@{
    ViewData["Title"] = "Home Page";
}

<div  class="text-center">
    <h1 id="banner" class="display-4">Build your gaming personal computer now! Unleash the gamer inside you! </h1>
   
</div>

<div class="zigzag-gallery">
    <div class="zigzag-item"><img src="~/img/image1.jpg" ></div>
    <div class="zigzag-item"><img src="~/img/image2.jpg" ></div>
    <div class="zigzag-item"><img src="~/img/image3.jpg" ></div>
    <div class="zigzag-item"><img src="~/img/image4.jpg" ></div>
    <div class="zigzag-item"><img src="~/img/image5.jpg" ></div>
    <div class="zigzag-item"><img src="~/img/image6.jpg" ></div>
</div>  
